$maincolor : #270000;
$xdgrey : #95989A;

html, body {
  height: 100%;
  width: 100%;
}

/*
STYLESHEET STRUCTURE
---------------------------
1. Header
2. Search
2. Discussions
3. Footer
4. Backgrounds
5. Animation classes
6. Animation keyframes
7. Media queries
---------------------------
*/

/* 1. Header */
.mynav {
  height: 100%;
}

.fixednav {
  background-color: white;
  border-bottom: 2px solid grey;
  color: white;
  height: 120px;
  position: absolute;
  text-align: center;
  transform: translateY(-100%);
  width: 100%;
  z-index: 3;
  .innernav {
     position: relative;
     top: 20%;
     i {
       color: grey;
       font-size: 500%;
       margin: 0px 10px 0px 10px;
     }
  }
}

.navelem {
  font-size: 600%;
  padding: 40px 0px 40px 0px;
  text-shadow: 3px 3px rgba(0, 0, 0, .1);
}
/* */
/* 2. Search */
#searchwindow {
  background-color: white;
  height: 0%;
  position: fixed;
  width: 100%;
  z-index: 1;
}

#searchbox {
  left: 40%;
  opacity: 0;
  position: fixed;
  text-align: center;
  top: 50%;
  width: 20%;
  z-index: 200;
  input {
    background-color: grey;
    color: white;
  }
  p {
    margin-top: 5%;
  }
}
/* */
/* 3. Discussions */
.greysidecolumn {
  padding: 15%;
  position: relative;
  i {
    color: $xdgrey;
    display: block;
    font-size: 600%;
    margin: 0 auto;
    text-align: center;
  }
  p {
    color: $xdgrey;
    font-family: "Open Sans Condensed";
    font-size: 175%;
    text-align: center;
  }
}

.greymaincolumn {
  h1 {
    color: $xdgrey;
    font-family: "Anton";
    font-size: 450%;
    letter-spacing: 5px;
    margin-top: 15%;
    text-align: center;
  }
  h3 {
    color: $xdgrey;
    font-family: "Open Sans Condensed";
    font-size: 230%;
    text-align: center;
  }
}

.whitesidecolumn {
  padding: 15%;
  i {
    color: white;
    display: block;
    font-size: 600%;
    margin: 0 auto;
    text-align: center;
  }
  p {
    color: white;
    font-family: "Open Sans Condensed";
    font-size: 175%;
    text-align: center;
  }
}

.whitemaincolumn {
  h1 {
    color: white;
    font-family: "Anton";
    font-size: 450%;
    letter-spacing: 5px;
    margin-top: 15%;
    text-align: center;
  }
  h3 {
    color: white;
    font-family: "Open Sans Condensed";
    font-size: 230%;
    text-align: center;
  }
}
/* */
/* 4. Backgrounds */
.bg-people {
  background-attachment:fixed;
  background-image: url('greyColorBackground.png');
  background-position:center bottom;
  background-repeat: no-repeat;
}

.bg-grey {
  background-color: $xdgrey;
}
/* */
/* 5. Animation classes */
.menubardisappear {
  animation: .5s menubardisappearkeys forwards;
}

.menubarappear {
  animation: .5s menubarappearkeys forwards;
}

.navappear {
  animation: .5s navappearkeys forwards;
  animation-delay: .5s;
}

.navdisappear {
  animation: .5s navdisappearkeys forwards;
}

.searchwindowappear {
  animation: .5s searchwindowappearkeys forwards;
}

.searchwindowdisappear {
  animation: 1s searchwindowdisappearkeys forwards;
}

.searchboxshow {
  animation: 1s searchboxshowkeys forwards;
  animation-delay: .6s;
}

.searchboxhide {
  animation: 1s searchboxhidekeys forwards;
}
/* */
/* 6. Animation keyframes */
@keyframes searchboxhidekeys {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes searchboxshowkeys {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes searchwindowdisappearkeys {
  0% {
    height: 100%;
  }
  50% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}

@keyframes searchwindowappearkeys {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}


@keyframes navappearkeys {
  0% {
    position: fixed;
    transform: translateY(-100%);
  }
  100% {
    position: fixed;
    transform: translateY(0%);
  }
}

@keyframes navdisappearkeys {
  0% {
    position: fixed;
    transform: translateY(0%);
  }
  100% {
    position: fixed;
    transform: translateY(-100%);
  }
}

@keyframes menubardisappearkeys {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-110%);
  }
}

@keyframes menubarappearkeys {
  0%{
    transform: translateX(-110%);
  }
  100%{
    transform: translateX(0%);
  }
}
/* */
/* 7. Media queries */
@media(max-width: 1380px){
  .navelem {
    font-size: 525%;
  }
}
@media(max-width: 660px){
  .navelem {
    font-size: 400%;
  }
}

@media(max-width: 440px){
  .navelem {
    font-size: 300%;
  }
}
/* */
